.mb-10{
  margin-bottom: 10px !important;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-80{
  margin-bottom: 80px !important;
}
.mt-30{
  margin-top: 30px;
}
.mb-100{
  margin-bottom: 100px !important;
}
.mt-200{
  margin-top: 255px;
}
.mt-100{
  margin-top: 100px;
}
.bg-white{
  background-color: $whiteColor;
}
.text-gray{
  color: $lightGrayColor;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-active{
  color:$blueColor !important;
}
//.material{
//  position: relative;
//  width: 100%;
//  .material__input{
//    width: 100%;
//    background: 0 0;
//    border: 0;
//    outline: 0;
//    height: 36px;
//    padding-right: 25px;
//    border-bottom: 1px solid #9E9E9E;
//    &:focus,&:valid{
//      transition: .3s;
//      border-bottom: 1px solid $lightGrayColor;
//      .material__title {
//        top: -2px;
//
//        color: red;
//      }
//
//    }
//    .material__title{
//      position: absolute;
//      //top: 50%;
//      //transform: translateY(-50%);
//      transition: .3s;
//      pointer-events: none;
//      left: 0;
//    }
//  }
//
//}

