.mb-10{
  margin-bottom: 10px !important;
}
.mt-5{
  //margin-top: 5px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-80{
  margin-bottom: 70px !important;
}
.mt-30{
  margin-top: 30px;
}
.mb-100{
  margin-bottom: 100px !important;
}
.mb-40{
  margin-bottom: 40px !important;
}
.mt-200{
  margin-top: 255px;
}
.mb-250{
  margin-bottom: 250px;
}
.mb-150{
  margin-bottom: 150px;
}
.mt-100{
  margin-top: 100px;
}
.pt-25{
  padding-top: 25px;
}
.pt-100{
  padding-top: 100px;
}
.pt-80{
  padding-top: 80px;
}
.pb-100{
  padding-bottom: 100px;
}
.ml-15{
  margin-left: -15px;
}
.ml-25{
  margin-left: 25px;
}
.pl-25{
  padding-left: 25px;
}
.mr-15{
  margin-right: -15px;
}
.mr-180{
  margin-right: 180px;
}
.bg-white{
  background-color: $whiteColor;
}
.text-gray{
  color: $lightGrayColor;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-active{
  color:$blueColor !important;
}
.blue-text{
  color: $blueColor !important;
}
.black-text{
  color: $blackColor !important;
}
.display-none{
  display: none !important;
}
.overlay-active{
  background-color: $whiteColor;
  opacity: 0.902;
  box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
  width: 100%;
  height: 100%;
}
.bg-gray{
  background-color: $gray0 !important;
}
.categories{
  padding: 50px;
}
.category-title{
  padding-right: 45px;
  h3{
    font-family: $latoLight;
    font-size: 5.2rem;
    color: $blackColor;
  }

}
.category-info-title{
  font-size: $latoRegular;
  font-size: 1.8rem;
  color: $darkGrayColor;
  margin-right: 8px;
}
.category-imgs{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.seat{
  text-decoration: none !important;
  margin: 15px;
  .seat-imgs{

    img{

    }
  }
  .seat-desc{
    .seat-title{
      font-family: $latoLight;
      font-size: 2rem;
      color: $blackColor;
      font-weight: 600;
    }
    .seat-subtitle {
      font-family: $latoLight;
      font-size: 1.2rem;
      color: $gray8;
      font-weight: 600;
    }
  }
}
.show-more{
  font-family: $latoBold;
  text-decoration: none !important;
  font-size: 1.6rem;
}
.cost-product{
  font-family: $latoBold;
  font-size: 1.8rem;
}
.flex-1{
  flex: 0 0 20%;
  max-width: 20%;
}
.flex-2{
  max-width: 46%;
  flex: 0 0 46%;
}
.flex-3{
  max-width: 69%;
  flex: 0 0 69%;

}
.seat-imgs-3{
   width: 290px;
   height: 200px;
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
 }

.seat-imgs-2{
  width: 240px;
  height: 220px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.space-evenly{
  justify-content: space-evenly !important;
}
.flex-shrink-2{
  flex-shrink:2;
}
.flex-shrink-5{
  flex-shrink: 5;
}
.p-25{
  padding: 25px;
}
.flex-basis-300{
  flex-basis: 300px;
}
.font-4{
   font-size: 3rem !important;
 }
.font-2{
  font-size: 2rem !important;
}
.font-2-8{
  font-size: 2.5rem !important;
}
.font-1-5{
  font-size: 1.2rem !important;
}
.font-1-8{
  font-size: 1.8rem !important;
}