$aznb:jaznb;
$myRiadProRegular:MyriadPro-Regular;
$latoLight:Lato-Light;
$latoRegular:Lato-Regular;
$latoBold:Lato-Bold;
/*Colors*/
$lightGrayColor: #e3e3e3;
$grayColor:#c9c9c9;
$darkGrayColor: #c1c1c1;
$whiteColor:#fff;
$gray0:#f0f0f0;
$gray8:#a8a8a8;
$blackColor:#000;
$blueColor:#0023ff;
$pinkColor:#ff547c;